document
{
	font-size: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: url("background.jpg");
	/* background-size: 100% 100%; */
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	background-size: cover;
	/*background-position: 100% auto; */
	/* position: relative; */
}

brand{
	display: block;
	height: calc(2em / 3em);
	font-size: 3em;
	background-color: black;
	position: sticky;
	top: 0;
	padding: .2em 1em;
	box-sizing: border-box;
	z-index: 2;
}

brand::after{
	content: " - najlepsza hurtownia alkoholi";
	font-size: .8em;
}

information
{
	display:none;
}

categories{
	display: none;
}

products{
	display: block;
	min-width: 75vw;
	max-width: 75vw;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

product{
	display: block;
	width: 48%;
	background: rgba(50, 50, 50, .7);
	float: left;
	padding: 1em 2em;
	box-sizing: border-box;
	border: 2px solid #ddd;
	border-radius: 2em;
	margin: .7em 1%;
	height: calc((100vh - 4em - 4 * .7em - .4em) / 2);

	transition: transform ease-in-out .2s;
	cursor: pointer;
}

product:hover{
	transform: scale(1.03);
}

product > * {
	display: list-item;
	padding: .12em;
}

product > name{
	display: block !important;
	font-size: 1.6em;
	margin-top: .1em;
	margin-bottom: .6em;
	text-align: center;
	font-weight: bold;
}

product > *::before{
	font-size: 1.05em;
	font-weight: bold;
}

/* product > name::before{
	content: "Nazwa: ";
} */

product > producent::before{
	content: "Producent: ";
}

product > price::before{
	content: "Cena: ";
}

product > price::after{
	content: "PLN";
}

product > description::before{
	content: "Opis: ";
}

product > volume::before{
	content: "Objętość: ";
}

product > volume::after{
	content: "cl";
}

product > strength::before{
	content: "Zawartość alkoholu: ";
}

product > strength::after{
	content: "%";
}

footer{
	display: block;
	clear: both;
	width: 100%;
	height: calc((100vh - 4em - 4 * .7em - .4em) / 2);
	background-color: rgb(30, 30, 30);
	padding: 2em;
	margin-top: 2em;
}