document
{
	background-color: #404040;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

information
{
	display:none;
}

categories{
	display: none;
}

products{
	display: block;
	min-width: 75vw;
	max-width: 75vw;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1em;
}



product{
	display: block;
	width: 48%;
	background: #505050;
	float: left;
	padding: 1em 2em;
	box-sizing: border-box;
	border: 2px solid #ddd;
	border-radius: 2em;
	min-height: 48vh;
	margin: 1%;
}

product > * {
	display: list-item;
	padding: .12em;
}

product > name{
	display: block !important;
	font-size: 1.6em;
	margin-top: .1em;
	margin-bottom: .6em;
	text-align: center;
	font-weight: bold;
}

product > *::before{
	font-size: 1.05em;
	font-weight: bold;
}

/* product > name::before{
	content: "Nazwa: ";
} */

product > producent::before{
	content: "Producent: ";
}

product > price::before{
	content: "Cena: ";
}

product > price::after{
	content: "PLN";
}

product > description::before{
	content: "Opis: ";
}

product > volume::before{
	content: "Objętość: ";
}

product > volume::after{
	content: "cl";
}

product > strength::before{
	content: "Zawartość alkoholu: ";
}

product > strength::after{
	content: "%";
}